# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Swap files
*.orig

# Ignore output files
*.log
*.out
messpf.dat

# Ignore my build and cache directories
build/
.pytest_cache/
__pycache__/

# Ignore swap files
*.swp

# Ignore local CircleCI run build scripts
local.sh

# Ignore builds
build
debug
